
@tailwind base;
@tailwind components;
@tailwind utilities;


/* Navigation */
.sci-navbar {
	@apply w-full sticky top-0 z-20 bg-[hsla(0,0%,100%,.8)];
	backdrop-filter: saturate(180%) blur(5px);
	
	.nav {
		@apply py-4 px-16 mx-auto flex items-center justify-between;
	
		.links{
			@apply flex items-center gap-8;
		}
		.link{
			@apply py-2 text-slate-500 text-sm hover:text-slate-800;
			&.active {
				@apply text-green-500 font-medium;
			}
		}
	}

	.logo {
		@apply flex items-center hover:opacity-75;
	}

	.input-box{
		@apply relative w-64 flex items-center text-gray-900;


		.kbd {
			@apply absolute right-2 h-5 flex gap-1 text-gray-900 bg-white font-medium px-1.5 rounded-[4px] border-solid border border-gray-400; 
			font-size: 12px;

		}
	}

	.input {
		@apply block w-full appearance-none rounded-lg h-10 px-3 py-2 transition-colors text-base leading-tight md:text-sm bg-black/[.05]  focus:bg-white placeholder:text-gray-500 ;
	}

}

/* Main Layout */
.main{
	@apply mx-auto flex flex-col px-16;
}

/* Top Subject tags */
.tags{
	@apply flex gap-3 flex-wrap py-6;
	.tag{
		@apply inline-block text-sm bg-gray-100 rounded-md py-1 px-3 shrink-0 hover:bg-gray-200;
		transition: background-color 0.5s cubic-bezier(0.05,0,0,1);
	}
}

/* Recommend cards */
.recommend{
	@apply grid gap-5 mb-6 grid-cols-4 2xl:grid-cols-5;

	.recommended-swipe{
		grid-column: 1/3;
		grid-row: 1/3;
		@apply  grid-cols-2 grid-rows-2 rounded-md overflow-hidden;
	}
}


.sci-card{
	.cover{
		@apply rounded-md mb-2;
	}
	.stats{
		@apply absolute z-[2] w-full h-[38px] text-xs text-white flex items-center justify-between pt-4 pb-1.5 px-2 rounded-br-md rounded-bl-md left-0 bottom-0;
		background-image: linear-gradient(180deg,rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%);
	}
	.title{
		@apply font-medium leading-5;
	}
}

.picker{
	.picker-menu{
		@apply hidden;
	}

	&:hover .picker-menu{
		@apply block;
	}
}


.recommended-swipe{
	.recommended-swipe-core{
		@apply relative w-full;
	}

	.swipe-shim{
    @apply grid gap-5 grid-cols-2;
		/* display: grid;
		grid-gap: 20px;
		grid-template-columns: repeat(2,1fr); */

		.video-card{
			.thumb{
				@apply w-full relative bg-gray-200 pt-[56.25%] mb-2;
			}
			.info{
				@apply w-full h-16 bg-gray-200
			}
		}
		.shim-card{
			@apply w-full relative bg-gray-200 pt-[56.25%];
		}
	}

	.swipe-body{
		@apply absolute w-full h-full top-0;
	}

	.swiper {
		@apply w-full h-full rounded-md;
	}
	.swiper-slide {
		@apply w-full h-full overflow-hidden;

		.slide-title{
			@apply absolute left-4 right-24 bottom-11 z-20 text-ellipsis text-white text-lg font-medium;
		}
	}

	.carousel-mask{
		@apply absolute inset-0 pointer-events-none z-10;
		mask-image: linear-gradient(0,#2f3238 21%,transparent 30%);
		background-color: rgb(132, 103, 53);
	}

  .swiper-pagination{
    --swiper-pagination-bottom: 20px;
    @apply absolute pl-3 text-left flex items-center;
  }
 
  .swiper-pagination-bullet {
    @apply w-2 h-2 bg-white opacity-40;
  }

  .swiper-pagination-bullet-active {
    @apply w-3 h-3 opacity-100;
  }

  --swiper-navigation-size: 12px;

  .swiper-button-prev{
    @apply text-white absolute top-auto bottom-12 opacity-100 left-auto right-12 w-6 h-6 rounded-md bg-[#ffffff40] hover:bg-[#ffffff60];
  }
  .swiper-button-next{
    @apply text-white absolute top-auto bottom-12 opacity-100 right-4 w-6 h-6 rounded-md bg-[#ffffff40] hover:bg-[#ffffff60];
  }
  
}

.card-block{
  @apply border-t-4 border-gray-100 mb-6;

  .title{
    @apply my-6 font-bold text-lg flex flex-row gap-2 items-center;

    svg{
      color: red;
    }
  }

  .list{
    @apply grid gap-5 mb-6 grid-cols-4 2xl:grid-cols-5;
  }
}